.margin-adder {
    margin-top: 15px;
}

.headings {
    font-size: 28px;
}

.tile {
    width: 20vh;
    height: 20vh;
}

.tile-number {
    font-size: 68px;
    margin: 0 auto;
}

.view-adjuster {
  height: 100vh;
}
